In [1]:
#importing libraries
import numpy as np
import pandas as pd

#Loading all the csv files

df_aisles = pd.read_csv("aisles.csv")
df_departments = pd.read_csv("departments.csv")
df_order_products_prior = pd.read_csv("order_products__prior.csv")
df_order_products_train = pd.read_csv("order_products__train.csv")
df_orders = pd.read_csv("orders.csv")
df_products = pd.read_csv("products.csv")

## Data Cleaning

In [2]:
#Reading the orders.csv file
df_orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [3]:
#Counting the number of rows and columns in orders.csv
df_orders.shape

(3421083, 7)

In [4]:
#Finding if the dataset has any null values
total=df_orders.isnull().sum()
total

order_id                       0
user_id                        0
eval_set                       0
order_number                   0
order_dow                      0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

In [5]:
#checking for the percentage
percentage=total/df_orders.isnull().count()
percentage

order_id                  0.000000
user_id                   0.000000
eval_set                  0.000000
order_number              0.000000
order_dow                 0.000000
order_hour_of_day         0.000000
days_since_prior_order    0.060276
dtype: float64

In [6]:
missing_value_in_orders = pd.concat([total,percentage],keys=['Total','Percentage'],axis=1)
missing_value_in_orders

                         Total  Percentage
order_id                     0    0.000000
user_id                      0    0.000000
eval_set                     0    0.000000
order_number                 0    0.000000
order_dow                    0    0.000000
order_hour_of_day            0    0.000000
days_since_prior_order  206209    0.060276

Only 6% of the data is missing. So we can exclude this missing data and use it

In [7]:
df_neworders=df_orders[df_orders['days_since_prior_order'].notnull()]
df_neworders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0
5,3367565,1,prior,6,2,7,19.0

Similarly checking for the remaining datasets:

In [8]:
#aisles
aislestotal=df_aisles.isnull().count()
aislestotal

aisle_id    134
aisle       134
dtype: int64

In [9]:
aisles_percentage_miss=aislestotal/df_aisles.isnull().count()
aisles_percentage_miss

aisle_id    1.0
aisle       1.0
dtype: float64

In [10]:
missing_value_in_aisles = pd.concat([aislestotal,aisles_percentage_miss],keys=['Total','Percentage'],axis=1)
missing_value_in_aisles

          Total  Percentage
aisle_id    134         1.0
aisle       134         1.0

In [11]:
#departments
totaldepartments=df_departments.isnull().sum()
totaldepartments

department_id    0
department       0
dtype: int64

In [12]:
department_percentage=totaldepartments/df_departments.isnull().count()
department_percentage

department_id    0.0
department       0.0
dtype: float64

In [13]:
missing_value_in_departments = pd.concat([totaldepartments,department_percentage],keys=['Total','Percentage'],axis=1)
missing_value_in_departments

               Total  Percentage
department_id      0         0.0
department         0         0.0

In [14]:
#orders_prior
totalorder_products_prior=df_order_products_prior.isnull().sum()
totalorder_products_prior

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

In [15]:
percentageorder_products_prior=totalorder_products_prior/df_order_products_prior.isnull().count()
percentageorder_products_prior

order_id             0.0
product_id           0.0
add_to_cart_order    0.0
reordered            0.0
dtype: float64

In [16]:
missing_value_in_order_products_prior = pd.concat([totalorder_products_prior,percentageorder_products_prior],keys=['Total','Percentage'],axis=1)
missing_value_in_order_products_prior

                   Total  Percentage
order_id               0         0.0
product_id             0         0.0
add_to_cart_order      0         0.0
reordered              0         0.0

In [17]:
#order_train
totalOrderProducttrain=df_order_products_train.isnull().sum()
totalOrderProducttrain

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

In [18]:
percentageOrdertrain=totalOrderProducttrain/df_order_products_train.isnull().count()
percentageOrdertrain

order_id             0.0
product_id           0.0
add_to_cart_order    0.0
reordered            0.0
dtype: float64

In [19]:
missing_value_in_order_train = pd.concat([totalOrderProducttrain,percentageOrdertrain],keys=['Total','Percentage'],axis=1)
missing_value_in_order_train

                   Total  Percentage
order_id               0         0.0
product_id             0         0.0
add_to_cart_order      0         0.0
reordered              0         0.0

Except the orders data, all the other data looks fine,
So creating a new data file for the existing order dataset

In [20]:
#creating the clean csv file
df_neworders.to_csv('clean_orders.csv')